.page{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.watchlist_page{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}